# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.dvi
*.ps
*.ilg
*.ind
*.idx
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.run.xml
*.bcf
*.blx.bib
*.thm
*.tmp
*.bak
*.backup
*.eps
*.svg
*.log.gz

# Output folders
_build/
build/
out/